

@mixin baseTitulo($fontS){
    color: $colortitulos;
    font-size: $fontS;
    text-align: center;
    
}
@mixin consejosDiceno($fontE){
    text-align: center;
    font-size: $fontE;
    margin-top: 3px;
    
}
@mixin baseBoton{
    border-radius: 3px;
        border: 1.2px solid $bordeContenedores;
        color: $colortitulos ;
        background-color: $fondoCeleste ;
        text-decoration: none;
        
        &:hover{
            border: solid 1.2px black ;
            background-color: $botonHover;
            color: black;
        }

}